@use "../../assets/sass/_variables.scss" as *;

.counterButtons {
    text-align: center;

}

.button {
    text-align: center;
    background-color: $button-color;
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background-color:cadetblue;
    
}