@use "../../assets/sass/_variables.scss" as *;

.counter__card {
    align-content: center;
    height: auto;
    max-width: 100%;

}

.number {
    font-size: 1.5rem;
    color: $number-color;
}

.counter__buttons{
    display: flex;
    justify-content: space-around;
}