@use "../../assets/sass/_variables.scss" as *;

.main {
    height: 80vh;


    background: rgb(112,90,238);
    background: linear-gradient(90deg, rgba(112,90,238,1) 10%, rgba(81,143,213,1) 50%, rgba(2,8,164,1) 90%);
}


.card__container {
    display: flex;
    flex-wrap: wrap;
}

.form__container {
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: $font-family;
    color: white;

    width: 10rem;
}