@use "../../assets/sass/_variables.scss" as *;

.ticketCard {
    width: 10rem;
    height: 17rem;
    margin: .5rem;
    box-shadow: 9px 10px 7px;
    border-radius: 5px;

    font-family: $font-family;
    background-color: $card-color;

}