@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&family=Ubuntu&display=swap');

$font-family: "Ubuntu", sans-serif;
$font-backup: 'Rubik', sans-serif;
$font-color: black;

$number-color: white;
$card-color: pink;
$button-color: blueviolet;

